<section class="panel">
  <div class="listHeader">
    <h2>Account</h2>
    @if (authService.isAuthenticated() && authService.currentUser()) {
      <p>Welcome, {{ authService.currentUser()?.displayName }} ({{ authService.currentUser()?.email }})!</p>
    }
  </div>

  @if (authService.isAuthenticated()) {

    <section class="panel" style="margin-top: 2rem; padding: 0;">
      <div class="listHeader">
        <h3>Create a new activity</h3>
      </div>
      <app-activity-form
        [form]="newActivity"
        [submitting]="creating()"
        submitLabel="Create activity"
        (formSubmit)="onCreateActivity($event)"
      ></app-activity-form>
      @if (createMessage()) {
        <p class="createMessage">{{ createMessage() }}</p>
      }
    </section>
  } @else {
    <div class="actions">
      <a routerLink="/login" class="button">Sign in</a>
      <a routerLink="/register" class="button secondary">Register</a>
    </div>
  }

  @if (authMessage()) {
    <p class="createMessage">{{ authMessage() }}</p>
  }

<!--  <p class="tokenHint devHint">-->
<!--    Dev admin: <code>admin&#64;activemichigan.local</code> / <code>admin12345</code>-->
<!--  </p>-->
</section>
